<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Gestion de Reportes - Radiogramas</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/site_media/default.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="">Gestion</a></h1>
			<h2>Informacion Hidrologica</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="/">Inicio</a></li>
				<li class="active"><a href="/">Mantenimientos</a></li>
				<li class="active"><a href="/">Reportes</a></li>			
				<li><a href="/">Salir</a></li>
			</ul>
		</div>
	</div>
	<div id="page">
		<div id="page-bgtop">
			<div id="content">
				{% if nombreInstituto %}
				<div class="post">
				<h2 class="title"><a href="#">{{nombreInstituto}}</a></h2>
					{% for grupo in grupos %}
						<h3><a href="/grupo/{{ grupo.id }}">{{ grupo.nombre }}</a></h3>
					{% endfor %}
				</div>
				{% endif %}
				{% if nombreGrupo %}
				<div class="post">
				<h2 class="title"><a href="#">{{nombreGrupo}}</a></h2>
					{% for investigador in investigadores %}
						<h3>{{ investigador.apellidos }}, {{ investigador.nombre }} (<em>{{ investigador.nombreUsuario }}</em>)</h3>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<div id="sidebar">
				<ul>
					<li>
						<h2>Listado de Institutos</h2>
						<ul>
							{% if institutos %}
								{% for instituto in institutos %}
								<li><a href="/instituto/{{ instituto.id }}">{{ instituto.nombre }}</a></li>
								{% endfor %}
							{% else %}
								<li>Vac&iacute;o</p>
							{% endif %}
						</ul>
					</li>
				</ul>
			</div>
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
</div>
	<div id="footer">
		<p id="legal">Aspecto est&eacute;tico basado en la plantilla Clean Type de <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> bajo <a href="http://es.creativecommons.org/">licencia CreativeCommons 2.5</a>.</p>
	</div>
</body>
</html>
