<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
</head>

<body>
<table width="91%" height="80" border="0" align="center" cellpadding="2" cellspacing="2" id="tabinformacion">
  <tr>
    <td width="27%" height="60" nowrap="nowrap" scope="col"><h6 align="center"><img src="/home/erick/Django/proyecto/hidrologia/nuevo.jpg" width="60" height="60" /><br />
      JUNTA DE USUARIOS<br />
      CHANCAY-LAMBAYEQUE</h6></td>
    <td width="46%" scope="col">&nbsp;</td>
    <td width="27%" height="60" nowrap="nowrap" scope="col"><h6 align="center"><img src="/home/erick/Django/proyecto/hidrologia/operaciones.jpg" width="60" height="60"/><br />
      OPERACIÓN Y MANTENIMIENTO<br />
      SISTEMA MAYOR</h6></td>
  </tr>
</table>
<hr />
<h1 align="center">HIDROMETRIA EN EL SISTEMA MAYOR DE RIEGO CHANCAY-LAMBAYEQUE EN  m³/s</h1>
<p align="right">Mes:</p>
<table border="1" align="center" cellpadding="1" cellspacing="2">
  <tr>
    <th rowspan="3" scope="row"><p>&nbsp;</p>
      <p>Días</p>
      <p>&nbsp;</p></th>
    <th rowspan="3"><p align="center">Circulante <br />
    entregado<br />
al
valle<br />
Chancay - L</p></th>
    <th colspan="3"><p align="center">Aporte Río Chancay</p></th>
    <th colspan="5"><p align="center">Promedio diarios m³/s</p></th>
    <th colspan="5"> <p align="center">Promedio diario(m³/s) <br />
    Partidos Puntilla</p></th>
    <th rowspan="3"><p>Aporte<br />
de<br />
quebradas</p></th>
    <th colspan="2" rowspan="2"><p align="center">Reservorio Tinajones</p></th>
  </tr>
  <tr>
    <td rowspan="2"><p align="center">Promedios <br />
    diarios</p></td>
    <td rowspan="2"><p align="center">Máxima<br />
descarga<br />
puntual</p></td>
    <td rowspan="2"><p align="center">Míniima<br />
descarga<br />
puntual</p></td>
    <td rowspan="2"><p align="center">Compuerta<br />
de río<br />
Bocatoma</p>
    <p align="center"> Racarrumi</p></td>
    <td rowspan="2"><p align="center">Canal<br />
alimentador <br />
    Km 0+100</p></td>
    <td rowspan="2"><p align="center">Canal <br />
      descarga<br />
Km 1+250</p></td>
    <td rowspan="2"><p align="center">Majín<br />
- EPS</p></td>
    <td rowspan="2"><p align="center">Choype</p></td>
    <td rowspan="2"><p align="center">Total<br />
Taymi</p></td>
    <td rowspan="2"><p align="center">Canal <br />
    Lambayeque</p></td>
    <td colspan="3"><p align="center">Rió Reque</p></td>
  </tr>
  <tr>
    <td><p align="center">C.Entregado</p></td>
    <td><p align="center">Exceso al mar</td>
    <td><p align="center">Máx. <br />
    Punt.</p></td>
    <td><p>Promedio</p></td>
    <td><p>COTA</p></td>
  </tr>
  <tr>
    <th scope="row"><p>&nbsp;</p></th>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <th colspan="18" scope="row"><p>&nbsp;</p></th>
  </tr>
  <tr>
    <th scope="row"><p>suma</p></th>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <th scope="row"><p>Promedio</p></th>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <th scope="row"><p>Mazima</p></th>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <th scope="row">Minima</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Volumen</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p align="right">&nbsp;</p>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
</body>
</html>
